body {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  color: #545454;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
}

h4 {
  font-weight: 300;
}

h5 {
  font-size: 0.9rem;
  font-weight: 300;
}

h6 {
  font-family: "Dancing Script", cursive;
}

p {
  line-height: 2rem;
}

/* Button */

.btn-sm {
  background-color: #ebd0ba;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 10px 30px;
  opacity: 0.9;
  transition: 0.2s;
}

.btn-med {
  background-color: #ebd0ba;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 50px;
  /* opacity: 0.9; */
  transition: 0.2s;
}

.btn-med:hover,
.btn-sm:hover {
  transform: scale(1.1);
}

/* Social Media Links */

.social-links {
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}
.social-links i {
  color: #f5f5f5;
  font-size: 2rem;
  margin: 30px 20px 30px 0px;
  transition: 0.2s;
}

.social-links i:hover {
  transform: translateY(-5px);
}

.social-links i:active {
  transform: scale(1.2) translateY(-5px);
}

/* ***** BODY CONTENT ***** */

/* Header Area */

.header {
  position: relative;
}

.index-header {
  height: 80vh;
  background-image: url(./images/hero-background-image.png);
  background-position: bottom;
  background-size: cover;
}

nav {
  height: 200px;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

.index-header .black-index-logo {
  padding: 0 25px;
}

/* Sidenav Icon */

.header-left-section {
  width: 35px;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  z-index: 10;
  transition: 0.5s;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  margin: 6px 0;
  transition: 0.5s;
  position: relative;
  z-index: 5;
}

.white-bar {
  background-color: #f5f5f5;
}

.black-bar {
  background-color: black;
  background: black;
  color: black;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 5px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.move-menu-icon {
  position: absolute;
  top: 40px;
  left: 30px;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -5px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Sidenav */

.sidenav {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #e2d4c8;
  padding-top: 100px;
  z-index: 2;
}

.sidenav ul {
  margin-left: 30px;
}

.sidenav li {
  text-decoration-style: none;
  list-style: none;
  margin: 30px 0;
  transition: 0.3s;
}

.sidenav li:hover {
  transform: translate(10px);
}

.sidenav a {
  text-decoration: none;
  color: #545454;
  text-transform: uppercase;
  font-weight: 300;
}

.sidenav a:active {
  font-weight: 700;
}

.show-sidenav {
  width: 250px;
}

/* Cart Icon */

.cart-icon img {
  width: 35px;
  cursor: pointer;
}

/* Cart Area */

.cart {
  height: auto;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  background-color: #e2d4c8;
  padding-top: 50px;
  z-index: 2;
}

.cart .cart-area {
  margin: 50px 10px 100px;
  color: #f5f5f5;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.cart .cart-area h2 {
  color: #545454;
}

.cart .cart-area a {
  background-color: #f5f5f5;
  color: #ebd0ba;
  margin: auto;
}

.cart .cart-area hr {
  background-color: #f5f5f5;
  height: 2px;
  margin-bottom: 30px;
}

.cart .cart-items {
  min-height: 100px;
}

.show-cart {
  width: 33%;
}

.exit-icon {
  position: absolute;
  right: 30px;
  display: inline-block;
  cursor: pointer;
}

.exit-bar1,
.exit-bar2 {
  width: 0;
  height: 2px;
  transition: 0.4s;
}

.open .exit-bar1 {
  transform: rotate(45deg);
  width: 35px;
}

.open .exit-bar2 {
  transform: rotate(-45deg);
  width: 35px;
}

/* Hero Area */

.hero-area {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
}

/* Main Area */

/* Newly Arrived Section */

.first-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.first-block .title {
  font-style: italic;
  margin-bottom: 30px;
}

.first-block .new-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first-block .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.first-block a {
  margin-top: 30px;
}

/* ABOUT PAGE */

.about-header {
  height: 60vh;
  background-image: url(./images/about-hero-image.jpg);
  background-position: top;
  background-size: cover;
}

.about-block {
  width: 100%;
  margin: 60px auto;
  max-width: 768px;
}

.about-block .text-area {
  text-align: justify;
}

.about-block .text-area::first-letter {
  font-size: 300%;
  font-weight: 200;
  padding-left: 10px;
}

.about-block .profile-area {
  display: flex;
  align-items: center;
}

.about-block .profile-area img {
  width: 200px;
  border-radius: 50%;
}

/* CONTACT PAGE - CONTACT AREA */

.contact-block {
  text-align: center;
}

.contact-block .contact-icons-area {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px 0;
}

.contact-block .contact-icons {
  width: 150px;
}

.contact-block p {
  width: 80%;
  max-width: 768px;
}

/* PHONE ICON */

.phone-icon-area {
  width: 100px;
  height: 150px;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.phone-icon {
  position: absolute;
  top: 40px;
  left: 15px;
  width: 70px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.phone-icon-area:hover .phone-icon {
  transform: translateY(-20px);
}

.phone-icon-area:hover .wave {
  animation: waveIn 1s ease-out;
  transform-origin: 50% 50%;
}

.wave-sm {
  position: absolute;
  top: 32px;
  left: 40%;
  width: 30px;
  height: 15px;
  border: solid 5px #d6c9be;
  border-color: #d6c9be transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.wave-md {
  position: absolute;
  top: 20px;
  left: 29%;
  width: 60px;
  height: 30px;
  border: solid 5px #d6c9be;
  border-color: #d6c9be transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.wave-lg {
  position: absolute;
  top: 10px;
  left: 20%;
  width: 90px;
  height: 40px;
  border: solid 5px #d6c9be;
  border-color: #d6c9be transparent transparent transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.wave-sm,
.wave-md,
.wave-lg {
  display: none;
}
.phone-icon-area:hover .wave-sm {
  animation-delay: 0.3s;
  display: block;
}

.phone-icon-area:hover .wave-md {
  display: block;
  animation-delay: 0.45s;
}

.phone-icon-area:hover .wave-lg {
  display: block;
  animation-delay: 0.6s;
}

@keyframes waveIn {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(45deg) translate(-30px, 10px);
    display: block;
  }

  100% {
    transform: translate(0, 0) rotate(45deg) scale(1);
    opacity: 1;
    display: block;
  }
}

.phone-shadow {
  position: absolute;
  top: 125px;
  left: 50%;
  width: 100px;
  height: 15px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.phone-icon-area:hover .phone-shadow {
  width: 60px;
}

/* LETTER ICON */

.letter-image {
  width: 100px;
  height: 150px;
  cursor: pointer;
  position: relative;
  margin: auto;
}

.letter-image .animated-mail {
  position: absolute;
  height: 100px;
  width: 100px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.letter-image .letter-body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 100px;
  border-color: transparent transparent #e2d4c8 transparent;
  z-index: 2;
}

.letter-image .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 50px 0 50px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #d6c9be transparent transparent transparent;
  z-index: 2;
}

.letter-image .back-fold {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 50px;
  background: #d6cabf;
  z-index: 0;
}

.letter-image .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  border-color: transparent transparent transparent #eee0d4;
  z-index: 2;
}

.letter-image .letter {
  left: 10px;
  bottom: 0px;
  position: absolute;
  width: 80px;
  height: 30px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}

.letter-image .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #545454,
    #545454 8px,
    transparent 8px,
    transparent 18px
  );
}

.letter-image .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 5px;
  width: 40%;
  background: #e2d4c8;
}

.letter-image .letter-context {
  margin-top: 10px;
  margin-left: 5px;
  height: 5px;
  width: 20%;
  background: #e2d4c8;
}

.letter-image .letter-stamp {
  margin-top: -5px;
  margin-left: 60px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background: #545454;
  opacity: 0.3;
}

.letter-image .shadow {
  position: absolute;
  top: 125px;
  left: 50%;
  width: 100px;
  height: 15px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.letter-image:hover .animated-mail {
  transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
}

.letter-image:hover .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  -webkit-transition: transform 0.4s, z-index 0.2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 0.4s, z-index 0.2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}

.letter-image:hover .animated-mail .letter {
  height: 80px;
}

.letter-image:hover .shadow {
  width: 80px;
}

/* PIN ICON */

.pin-icon-area {
  width: 100px;
  height: 150px;
  position: relative;
  margin: auto;
}

.pin-icon {
  position: relative;
  top: 30px;
  width: 80px;
  margin: auto;
}

.pin-icon-area:hover .pin-icon {
  animation: wiggle 1s;
}

.pin-icon-shadow {
  position: absolute;
  top: 125px;
  left: 50%;
  width: 100px;
  height: 15px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.pin-icon-area:hover .pin-icon-shadow {
  width: 80px;
}

@keyframes wiggle {
  10%,
  90% {
    transform: translateY(-20px) rotate(-2deg);
  }

  20%,
  80% {
    transform: translateY(-20px) rotate(4deg);
  }

  30%,
  50%,
  70% {
    transform: translateY(-20px) rotate(-4deg);
  }

  40%,
  60% {
    transform: translateY(-20px) rotate(8deg);
  }
}

/* ICON ANCHOR TAGS */

.contact-icons a {
  text-decoration: none;
  color: #545454;
  font-size: 0.7rem;
}

/* CONTACT FORM AREA */

.contact-form {
  background-color: #e2d4c8;
  padding: 30px;
  text-align: left;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form .input-area {
  display: flex;
  flex-direction: column;
}

.contact-form .contact-label {
  position: relative;
  top: 30px;
  transition: 0.3s;
  height: 20px;
}

.contact-form .contact-input,
.contact-form textarea {
  border: none;
  border-bottom: 2px solid #545454;
  color: #545454;
  background-color: #e2d4c8;
  margin-bottom: 20px;
  height: 30px;
  transition: 0.5s;
}

.contact-form .checkbox-area {
  margin: 0;
  height: 30px;
  font-size: 0.8rem;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form button {
  margin-top: 20px;
  border: none;
  font-size: 1.1rem;
  background-color: #e2d4c8;
  color: #545454;
  font-style: italic;
  align-self: flex-end;
  transition: 0.3s;
}

.contact-form button:hover {
  transform: scale(1.1);
}

.contact-form button:active {
  font-weight: 700;
}

.decr-label-size {
  font-size: 0.8rem;
  transform: translateY(-30px);
}

.incr-input-height {
  height: 100px;
}

.red {
  color: rgb(163, 5, 5);
}

/* PRIVACY POLICY PAGE */

.fine-print-block {
  width: 80%;
  max-width: 500px;
  margin: 30px auto 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fine-print-block .title {
  text-align: center;
  margin: 30px 0;
}

.fine-print-block p {
  font-size: 0.8rem;
}

.fine-print-block li {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 10px 0 10px 30px;
}

.fine-print-block .email-link {
  color: #545454;
}

.fine-print-block .return-home-btn {
  margin: 60px 0;
}

/* FOLLOW US SECTION */

.follow-us {
  width: 80%;
  max-width: 1026px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-us h2 {
  margin: 50px 0;
}

.follow-us a {
  text-decoration: none;
  color: #545454;
}

.follow-us img {
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
}

.follow-us i {
  color: #545454;
}

/* Footer Area */

footer {
  background-color: #e2d4c8;
}
.footer-area {
  max-width: 1026px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-area .footer-menu ul {
  margin-left: 30px;
}

.footer-area .footer-menu li {
  list-style-type: none;
  margin: 10px 0;
  transition: 0.3s;
}

.footer-area .footer-menu a {
  text-decoration: none;
  color: #545454;
  font-weight: 300;
}

.footer-area .footer-menu li:hover {
  transform: translate(10px);
}

.footer-area .footer-menu a:active {
  font-weight: 700;
}

.footer-area .subscribe-area {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.footer-area .subscribe-area form {
  display: flex;
  flex-direction: column;
  color: #545454;
}

.footer-area .subscribe-area form label {
  font-style: italic;
}

.footer-area .subscribe-area form input {
  border: none;
  border-bottom: 2px solid #545454;
  background-color: #e2d4c8;
  height: 20px;
  width: 350px;
  margin: 20px 0 10px;
  font-style: italic;
}

.footer-area .subscribe-area form button {
  border: none;
  background-color: #e2d4c8;
  color: #545454;
  width: fit-content;
  font-style: italic;
  font-weight: 300;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.3s;
}

.footer-area .subscribe-area form button:hover {
  transform: scale(1.1);
}

.footer-area .subscribe-area form button:active {
  font-weight: 700;
}
footer .author {
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  /* Footer */

  .footer-area {
    flex-direction: column;
  }

  .footer-area .footer-menu {
    order: 2;
  }

  .footer-area .footer-menu ul {
    margin: 0;
    text-align: center;
  }

  .footer-area .footer-menu li {
    margin: 20px 0;
  }

  .footer-area .subscribe-area {
    order: 1;
    margin: 30px 0;
  }

  .footer-area .subscribe-area form label {
    text-align: center;
    padding: 0 10px;
  }

  .footer-area .subscribe-area form input {
    padding: 0 10px;
  }

  footer .author {
    padding: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  /* Header */

  header .nav-logo img {
    width: 200px;
  }

  /* Footer Area */

  .footer-area .subscribe-area form input {
    width: auto;
    margin: 30px 0;
  }
}
